body{
    background-color: rgb(22, 21, 21);
}
.second-container {
    width: 350px;
    height: 650px;
    background-color: aliceblue;
    border-radius: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
}